[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-wtf = "*"
nltk = "*"
unicodedata2 = "*"
bs4 = "*"
word2number = "*"
language-check = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
pycontractions = "*"
lxml = "*"
keras = "*"
tensorflow = "*"
plotly = "*"

[dev-packages]

[requires]
python_version = "3.10"
