{% extends 'layouts/sentiment-base.html' %}

{% block content %}
<div class="container d-flex flex-column min-vh-100">
    <div class="row justify-content-center">
        <div class="col-12 text-center ">
            <h3 class="mt-5">Welcome To The COVID-19 Vaccine Types Sentiment Analysis</h3>
            <p>Please choose one of the menu on the left side to start !</p>
        </div>
        <div class="col-12 col-md-7 mt-3">
            <ol class="list-group list-group-numbered">
                <li class="list-group-item">Choose your sentiment analysis topic on the left side menus
                </li>
                <li class="list-group-item">Upload your Twitter data according to the topic that you have chosen
                </li>
                <li class="list-group-item">Choose a sentiment analysis model and click the process button and wait for a moment</li>
                <li class="list-group-item">See the sentiment analysis result summary</li>
            </ol>
        </div>
    </div>
</div>
{% endblock %}